$portal-primary-palette: (
  50 : #e0eaf1,
  100 : #b3cbdb,
  200 : #80a8c4,
  300 : #4d85ac,
  400 : #266b9a,
  500 : #005188,
  600 : #004a80,
  700 : #004075,
  800 : #00376b,
  900 : #002758,
  A100 : #8ab2ff,
  A200 : #5791ff,
  A400 : #2470ff,
  A700 : #0a5fff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$portal-secondary-palette: (
  50 : #fff3f0,
  100 : #ffe2d9,
  200 : #ffcfc0,
  300 : #ffbba6,
  400 : #ffad93,
  500 : #ff9e80,
  600 : #ff9678,
  700 : #ff8c6d,
  800 : #ff8263,
  900 : #ff7050,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff7f6,
  A700 : #ffe2dc,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$portal-warn-palette: (
  50 : #f5e9e8,
  100 : #e5c7c6,
  200 : #d4a2a1,
  300 : #c37c7b,
  400 : #b6605e,
  500 : #a94442,
  600 : #a23e3c,
  700 : #983533,
  800 : #8f2d2b,
  900 : #7e1f1d,
  A100 : #ffbbba,
  A200 : #ff8887,
  A400 : #ff5654,
  A700 : #ff3d3b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
