@use '@angular/material' as mat;

@import "portal-palettes";

$portal-primary: mat.define-palette($portal-primary-palette);
$portal-accent: mat.define-palette($portal-secondary-palette);
$portal-warn: mat.define-palette($portal-warn-palette);

$portal-theme: mat.define-light-theme((
  color: (
    primary: $portal-primary,
    accent: $portal-accent,
    warn: $portal-warn
  )
));

@include mat.core();
@include mat.core-theme($portal-theme);
@include mat.all-component-themes($portal-theme);
