<form [formGroup]="categoryForm" (ngSubmit)="save()" *ngIf="categoryForm">
  <mat-card class="m-2 max-w-4xl">
    <mat-card-title>{{title}}</mat-card-title>
    <div class="flex flex-col">
      <mat-form-field appearance="outline">
        <mat-label>Libellé</mat-label>
        <input matInput formControlName="label" placeholder="Libellé">
        <mat-error *ngIf="categoryForm.hasError('required', 'label')">
          Le libellé est obligatoire
        </mat-error>
        <mat-error *ngIf="categoryForm.hasError('minlength', 'label')">
          Le libellé saisi doit comporter au moins {{minLengthLabel}} caractères
        </mat-error>
        <mat-error *ngIf="categoryForm.hasError('maxlength', 'label')">
          Le libellé saisi ne doit pas excéder {{maxLengthLabel}} caractères
        </mat-error>
        <mat-error *ngIf="categoryForm.hasError('pattern', 'label')">
          La valeur saisie doit comporter uniquement des chiffres et des lettres
        </mat-error>
        <mat-hint>Libellé</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" placeholder="Description">
        <mat-error *ngIf="categoryForm.hasError('maxlength', 'description')">
          La description saisie ne doit pas excéder {{maxLengthDescription}} caractères
        </mat-error>
        <mat-error *ngIf="categoryForm.hasError('pattern', 'description')">
          La valeur saisie doit comporter uniquement des chiffres et des lettres
        </mat-error>
        <mat-hint>Description</mat-hint>
      </mat-form-field>
    </div>
    <div class="flex justify-end">
      <mat-card-actions>
        <span class="m-2">
          <button type="button" mat-fab matTooltip="Annuler" (click)="cancel()">
            <mat-icon>clear</mat-icon>
          </button>
        </span>
        <span class="m-2">
          <button type="submit" mat-fab matTooltip="Enregistrer la catégorie">
            <mat-icon>save</mat-icon>
          </button>
        </span>
      </mat-card-actions>
    </div>
  </mat-card>
</form>
