<div class="w-full p-5" style="background-color: #4b636e; color: white">
  <a routerLink="/" class="text-3xl">
    Portail Extranet – Ordre des Médecins
  </a>
</div>
<div class="flex flex-row min-h-screen">
  <div class="basis-1/6 p-6">
    <mat-list>
      <mat-list-item>
        <a routerLink="/categories" class="text-lg">Categories</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a routerLink="/applications" class="text-lg">Applications</a>
      </mat-list-item>
    </mat-list>
  </div>
  <div style="background-color: antiquewhite" class="basis-5/6 p-6">
    <router-outlet></router-outlet>
  </div>
</div>
