@use '@angular/material' as mat;
@import '../portal-theme';

.header {
  background-color: mat.get-color-from-palette($portal-primary);
  color: mat.get-contrast-color-from-palette($portal-primary, 500);
}

.connection-box {
  background-color: #80a8c4;
}

::ng-deep nav.mat-tab-nav-bar a.mat-tab-link {
  height: 5em;
}
